language: objective-c
xcode_sdk: iphonesimulator9.3
osx_image: xcode7.3
xcode_sdk: iphonesimulator
install: true
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
script:
  - xcodebuild -version
  - xcodebuild -showsdks
  - set -o pipefail && xcodebuild -project DataKernel.xcodeproj -scheme DataKernel-iOS -sdk iphonesimulator9.3 ONLY_ACTIVE_ARCH=NO | xcpretty
  - set -o pipefail && xcodebuild test -project DataKernel.xcodeproj -scheme DataKernel-iOS -sdk iphonesimulator9.3 ONLY_ACTIVE_ARCH=NO | xcpretty
